* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  transition: background-color .3s ease-out;
}

window#waybar {
  margin-bottom: 0px;
  font-weight: 700;
  background: rgba(26, 27, 38, 0);
  color: #c0caf5;
  font-family: 
    SpaceMono Nerd Font,
    feather;
  transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right
{
  background: rgba(0, 0, 8, .9);
  margin: 5px;
  padding: 0 5px;
  border-radius: 15px;
  margin-bottom: 0px;
}
.modules-left {
  padding: 0;
}
.modules-center {
  padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
  padding: 0 10px;
  border-radius: 15px;
}

#workspaces button {
  background: transparent;
  font-family:
    SpaceMono Nerd Font,
    feather;
  color: #c0caf5;
  border:none;
  border-radius: 15px;
}

#workspaces button.active {
  background: #13131d; 
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  box-shadow: none;
}

#custom-arch {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 15px;
  transition: color .5s;
}
#custom-arch:hover {
  color: #1793d1;
}
